body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }

.postImage { width: 100%; border-radius: 0.5rem; }

.liked { color: #ef4444; font-weight: 700; }
